body {
    font-family: 'Lato', sans-serif;
    text-decoration: none;


}

a {
   text-decoration: none;
   color: gray;
}

.page-header {
    background-color: #4169E1;
    padding: 14px 16px;
    display: block;
    width: 80%;
    margin: auto;

}

.page-header p {

}


.page-header h1, .page-header a {
    color: white;
    font-size: 26pt;



}


.page-header a:hover {
    color: #B0E0E6;

}


.nav-bar {
    background-color: #4169E1;
}

.content {
    padding-top: 20px;
    max-width: 1000px;
    margin: auto;
}

.date {
    color: #333;
}

.post {
    margin-bottom: 60px;
}

.post-form-blog textarea {
    width: 100%;
}
.post-form-blog button {
    float: right;
}

.top-menu {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: -5px;

}
.top-menu button {
    color:white;
    border-radius: 20px;
}

.sign-up button {
    background: #A52A2A;
}

.sign-up button:hover {
    background: #C60606;
}

.sign-in button:hover {
    color:#B0E0E6;
}

