body {
    font-family: 'Lato', sans-serif;
    text-decoration: none;


}

a {
   text-decoration: none;
   color: #4169E1;
}




.page-header {
    background-color: #4169E1;
    padding: 10px 10px;
    display: block;
    width: 80%;
    margin: auto;
    z-index: 1030;

}

.page-header p {

}


.page-header h1, .page-header a {
    color: white;
    font-size: 26pt;


}


.page-header a:hover {
    color: #B0E0E6;

}


.nav-bar {
    background-color: #4169E1;
    width: 100%;
    position: fixed;
    z-index: 1030;
}

.content {
    padding-top: 100px;
    max-width: 1000px;
    margin: auto;
}

.date {
    color: #828282;
    padding: 0px 0px 15px 0px;
}

.post {
    margin-bottom: 60px;
}

.post-form-blog textarea {
    width: 100%;
}
.post-form-blog button {
    float: right;
}

.top-menu {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: -5px;

}
.top-menu button {
    color:white;
    border-radius: 20px;
}

.sign-up button {
    background: #A52A2A;
}

.sign-up button:hover {
    background: #C60606;
}

.sign-in button:hover {
    color:#B0E0E6;
}

.flex-comment {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;


}
.flex-comment div {
    display: flex;
    padding: 10px;


}

.delete_button {
    margin-left: auto;
}

.comment {

    margin: 20px 0px 20px 20px;
}

.no-comment {
    margin: 20px 0px 0px 0px;
}

.delete-post:hover {
    color: red;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;

}

.article-img {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn {
    margin-top: 10px;
}

.poop {
    border-radius: 20px;
}







