
{% extends 'blog/base.html' %}

{% block title %} My blog {% endblock %}


{% block content %}
{% load markdownify %}


{% for post in posts %}
    <div class="post">
        <!--<h1><a href="">{{post.author}} blog</a></h1>-->

        <div class="date">
            <p>Published: {{ post.published_date }}</p>
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text| markdown | safe | truncatechars:800 | linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        <hr>
    </div>
{% endfor %}

{% endblock content %}
